* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body main {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px; }
  body main .cajaComercios {
    display: grid;
    grid-template-columns: .5fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: "logo informacion" "descripcion informacion";
    border: 2px solid black;
    border-radius: 8px;
    background-color: #fff;
    max-width: 320px;
    max-height: 220px; }
    body main .cajaComercios .logo {
      font-size: 83%;
      grid-area: logo;
      text-align: center;
      padding: 8px; }
      body main .cajaComercios .logo img {
        max-width: 100%; }
    body main .cajaComercios .informacion {
      font-size: 75%;
      grid-area: informacion;
      display: flex;
      flex-wrap: nowrap;
      flex-direction: column;
      align-items: center;
      gap: 9px; }
      body main .cajaComercios .informacion span {
        font-style: italic;
        font-weight: bold; }
    body main .cajaComercios .descripcion {
      grid-area: descripcion;
      text-align: center;
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-around;
      align-items: center; }
      body main .cajaComercios .descripcion textarea {
        text-align: center;
        font-size: 85%; }
      body main .cajaComercios .descripcion button {
        padding: 4px; }
        body main .cajaComercios .descripcion button:hover {
          background-color: #5cd071;
          border-radius: 8px; }

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  body header {
    margin-top: 60px; }
  body hr {
    width: 5px;
    background-color: black; }
  body nav .utilidades .contBotones {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 8px;
    background-color: #9999; }
    body nav .utilidades .contBotones button {
      border: none;
      font-size: 1.1rem;
      padding: 5px;
      width: fit-content;
      font-style: italic; }
      body nav .utilidades .contBotones button:hover {
        color: aliceblue;
        border-radius: 10px;
        background-color: #9e3c8f; }
  body footer {
    color: #fff;
    background-color: #000;
    position: relative;
    bottom: 0px;
    width: 100%;
    height: 120px; }
    body footer .cajaFooter {
      text-align: center; }
